matplotlib~=3.8.2
Pillow~=10.2.0
scikit-learn~=1.4.0
scipy==1.12.0
sqlalchemy~=2.0.25
pandas~=2.2.0
seaborn~=0.13.2
numpy~=1.26.3
torcheval~=0.0.7
tqdm~=4.66.1
dynaconf~=3.2.4
requests~=2.31.0
einops~=0.7.0
# Local compiled packages
torch==2.3.0.dev20240106+rocm5.6
torchvision==0.18.0.dev20240107+rocm5.6
